* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 0.07em;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

:root {

    --font1: 'Inter', sans-serif;
    --font2: 'Public Sans', sans-serif;

    --color1: rgb(238, 238, 238);
    --color2: rgb(232, 232, 232);
    --color3: rgb(0,0,0);
    --color4: rgb(33,33,33);
}

.dark-mode {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1000' height='500' preserveAspectRatio='none' viewBox='0 0 1000 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask6885%26quot%3b)' fill='none'%3e%3crect width='1000' height='500' x='0' y='0' fill='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/rect%3e%3ccircle r='54.752541450017006' cx='223.41' cy='39.84' fill='rgba(108%2c 108%2c 108%2c 0.67)'%3e%3c/circle%3e%3cpath d='M341.52 94.27L332.39 103.25 321.62 96.32 312.49 105.3 301.73 98.36 292.6 107.35 281.83 100.41M340.7 86.31L331.57 95.29 320.8 88.36 311.67 97.34 300.91 90.41 291.78 99.39 281.01 92.46' stroke='rgba(214%2c 214%2c 214%2c 0.67)' stroke-width='1.68'%3e%3c/path%3e%3crect width='137.4' height='137.4' clip-path='url(%26quot%3b%23SvgjsClipPath6886%26quot%3b)' x='314.63' y='166.57' fill='url(%26quot%3b%23SvgjsPattern6887%26quot%3b)' transform='rotate(283.41%2c 383.33%2c 235.27)'%3e%3c/rect%3e%3cpath d='M980.51 103.99L990.68 111.77 985.32 123.41 995.49 131.19 990.14 142.82 1000.31 150.6 994.95 162.23M972.74 105.92L982.91 113.7 977.56 125.33 987.73 133.11 982.37 144.74 992.54 152.52 987.19 164.16M964.98 107.85L975.15 115.63 969.79 127.26 979.96 135.04 974.61 146.67 984.78 154.45 979.42 166.08' stroke='rgba(255%2c 255%2c 255%2c 0.87)' stroke-width='2.91'%3e%3c/path%3e%3ccircle r='71.82905731698764' cx='328.94' cy='161.25' fill='rgba(255%2c 255%2c 255%2c 0.87)'%3e%3c/circle%3e%3crect width='268.8' height='268.8' clip-path='url(%26quot%3b%23SvgjsClipPath6888%26quot%3b)' x='690.92' y='153.95' fill='url(%26quot%3b%23SvgjsPattern6889%26quot%3b)' transform='rotate(91%2c 825.32%2c 288.35)'%3e%3c/rect%3e%3crect width='91.67999999999999' height='91.67999999999999' clip-path='url(%26quot%3b%23SvgjsClipPath6890%26quot%3b)' x='285.58' y='284.98' fill='url(%26quot%3b%23SvgjsPattern6891%26quot%3b)' transform='rotate(226.96%2c 331.42%2c 330.82)'%3e%3c/rect%3e%3cpath d='M111.42000000000002 176.56 L220.88 221.86L114.66808724878265 250.69191275121736z' fill='rgba(161%2c 161%2c 161%2c 0.67)'%3e%3c/path%3e%3crect width='100.24000000000001' height='100.24000000000001' clip-path='url(%26quot%3b%23SvgjsClipPath6892%26quot%3b)' x='375.42' y='374.97' fill='url(%26quot%3b%23SvgjsPattern6893%26quot%3b)' transform='rotate(231.35%2c 425.54%2c 425.09)'%3e%3c/rect%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask6885'%3e%3crect width='1000' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='137.4' height='13.74' patternUnits='userSpaceOnUse' id='SvgjsPattern6887'%3e%3crect width='137.4' height='6.87' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 0.87)'%3e%3c/rect%3e%3crect width='137.4' height='6.87' x='0' y='6.87' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath6886'%3e%3ccircle r='34.35' cx='383.33' cy='235.27'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='8.96' height='8.96' patternUnits='userSpaceOnUse' id='SvgjsPattern6889'%3e%3cpath d='M4.48 1L4.48 7.960000000000001M1 4.48L7.960000000000001 4.48' stroke='rgba(255%2c 255%2c 255%2c 0.87)' fill='none' stroke-width='2.6'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath6888'%3e%3ccircle r='67.2' cx='825.32' cy='288.35'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='7.64' height='7.64' patternUnits='userSpaceOnUse' id='SvgjsPattern6891'%3e%3cpath d='M0 7.64L3.82 0L7.64 7.64' stroke='rgba(255%2c 255%2c 255%2c 0.87)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath6890'%3e%3ccircle r='22.919999999999998' cx='331.42' cy='330.82'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='7.16' height='7.16' patternUnits='userSpaceOnUse' id='SvgjsPattern6893'%3e%3cpath d='M0 7.16L3.58 0L7.16 7.16' stroke='rgba(255%2c 255%2c 255%2c 0.86)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath6892'%3e%3ccircle r='25.060000000000002' cx='425.54' cy='425.09'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
    transition: background-image 0.4s ease-out, color 0.4s ease-out;
}

body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1000' height='500' preserveAspectRatio='none' viewBox='0 0 1000 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask20781%26quot%3b)' fill='none'%3e%3crect width='280.56' height='280.56' clip-path='url(%26quot%3b%23SvgjsClipPath20782%26quot%3b)' x='669.14' y='18.79' fill='url(%26quot%3b%23SvgjsPattern20783%26quot%3b)' transform='rotate(223.72%2c 809.42%2c 159.07)'%3e%3c/rect%3e%3cpath d='M254.51 387.95 L323.97 415.27L254.22047720816118 436.62952279183884z' stroke='rgba(0%2c 0%2c 0%2c 0.78)' stroke-width='1.68' stroke-dasharray='2%2c 2'%3e%3c/path%3e%3cpath d='M810.17 338.63L799.13 332.15 803.02 319.95 791.98 313.48 795.87 301.28 784.83 294.8 788.72 282.6M817.65 335.77L806.6 329.29 810.49 317.09 799.45 310.62 803.34 298.42 792.3 291.94 796.19 279.74' stroke='rgba(33%2c 33%2c 33%2c 1)' stroke-width='1.36' stroke-dasharray='2%2c 2'%3e%3c/path%3e%3crect width='288' height='288' clip-path='url(%26quot%3b%23SvgjsClipPath20784%26quot%3b)' x='339.11' y='339.46' fill='url(%26quot%3b%23SvgjsPattern20785%26quot%3b)' transform='rotate(345.65%2c 483.11%2c 483.46)'%3e%3c/rect%3e%3cpath d='M206.52 157.13L204.93 144.43 216.98 140.08 215.39 127.38 227.43 123.03 225.84 110.33 237.89 105.99M213.34 161.32L211.75 148.61 223.8 144.27 222.21 131.56 234.25 127.22 232.66 114.51 244.71 110.17M220.16 165.5L218.57 152.79 230.62 148.45 229.03 135.74 241.07 131.4 239.48 118.69 251.53 114.35' stroke='rgba(104%2c 104%2c 104%2c 0.78)' stroke-width='2.29' stroke-dasharray='4%2c 4'%3e%3c/path%3e%3ccircle r='41.666666666666664' cx='143.31' cy='235.4' stroke='rgba(32%2c 32%2c 32%2c 1)' stroke-width='1' stroke-dasharray='3%2c 2'%3e%3c/circle%3e%3cpath d='M722.89 334.44 L832.3100000000001 298.02L736.3320913712855 274.9620913712855z' fill='rgba(104%2c 104%2c 104%2c 0.78)'%3e%3c/path%3e%3cpath d='M416.89 112.46a5.6 5.6 0 1 0 8.4-7.41 5.6 5.6 0 1 0-8.4 7.41zM428.89 101.87a5.6 5.6 0 1 0 8.4-7.41 5.6 5.6 0 1 0-8.4 7.41zM440.89 91.28a5.6 5.6 0 1 0 8.39-7.41 5.6 5.6 0 1 0-8.39 7.41zM452.88 80.7a5.6 5.6 0 1 0 8.4-7.41 5.6 5.6 0 1 0-8.4 7.41zM403.49 145.63a5.6 5.6 0 1 0 8.4-7.41 5.6 5.6 0 1 0-8.4 7.41zM415.49 135.04a5.6 5.6 0 1 0 8.39-7.41 5.6 5.6 0 1 0-8.39 7.41zM427.48 124.45a5.6 5.6 0 1 0 8.4-7.41 5.6 5.6 0 1 0-8.4 7.41zM439.48 113.87a5.6 5.6 0 1 0 8.4-7.41 5.6 5.6 0 1 0-8.4 7.41z' fill='rgba(108%2c 108%2c 108%2c 0.67)'%3e%3c/path%3e%3ccircle r='79.8946419950815' cx='589.2' cy='217.78' stroke='rgba(0%2c 0%2c 0%2c 0.86)' stroke-width='1.16' stroke-dasharray='2%2c 2'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask20781'%3e%3crect width='1000' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='280.56' height='10.02' patternUnits='userSpaceOnUse' id='SvgjsPattern20783'%3e%3crect width='280.56' height='5.01' x='0' y='0' fill='rgba(32%2c 32%2c 32%2c 1)'%3e%3c/rect%3e%3crect width='280.56' height='5.01' x='0' y='5.01' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath20782'%3e%3ccircle r='70.14' cx='809.42' cy='159.07'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='288' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern20785'%3e%3crect width='288' height='3' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 0.86)'%3e%3c/rect%3e%3crect width='288' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath20784'%3e%3ccircle r='72' cx='483.11' cy='483.46'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    transition: background-image 0.6s ease-out, color 0.6s ease-out;
}

header {
    background-color: var(--color4);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title-meme-generator {
    text-align: center;
    color: var(--color1);
    font-family: var(--font1);
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1.5rem;
}

nav {
    padding: 0 12px 0 12px;
    margin-top: 1rem;
}

.nav-generator {
    display: flex;
    flex-direction: row;
    gap: 1.3rem;
    margin-bottom: 1.5rem;
}

.nav-list {
    text-align: center;
    color: var(--color1);
    font-family: var(--font2);
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    padding: 9px;
}

.nav-list:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transition: background-color 0.5s ease-in-out;
    border-radius: 0.5em;
}

.meme-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meme-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35rem;
    width: 100%;
    max-width: 40rem;
    background-color: var(--color4);
    position: relative;
}

.top-txt-meme, .bottom-txt-meme {
    color: var(--color4);
    background-color: var(--color1);
    text-align: center;
    font-size: 2.2rem;
    padding: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.img-meme-container {
    background-size: cover;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.download-button {
    margin-top: 1.4rem;
    padding: 0.7em 1.7em;
    cursor: pointer;
    font-family: var(--font1);
    text-decoration: none;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 400;
    border-radius: 0.5em;
    color: var(--color1);
    background-color: var(--color4);
    border: 1px solid var(--color4);
    box-shadow: 1px 1px 2px #c5c5c5, -1px -1px 2px var(--color2);
    margin-bottom: 3rem;
}

.download-button:hover{
    color: var(--color4);
    background: var(--color2);
    border: 1px solid var(--color2);
    transition: all 0.3s ease-in-out;
}

.dark-mode-download-button {
        color: var(--color4);
        background-color: var(--color2);
        border: 1px solid var(--color2);
        box-shadow: 1px 1px 2px #c5c5c5, -1px -1px 2px var(--color4);
    }
    
.dark-mode-download-button:hover{
        color: var(--color2);
        background: var(--color4);
        border: 1px solid var(--color4);
        transition: all 0.3s ease-in-out;  
}

.img-section {
    width: 20rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.7);
    color: var(--color1);
    overflow-y: auto;
    display: none;
}

.close-button {
    display: none;
}

.title-section {
    text-align: center;
    padding: 3.2rem;
    font-family: var(--font1);
    font-weight: 600;
    font-size: 1.4rem;
    background-color: var(--color4);
}

input, button {
    outline: 0;
    border: 0;
}

.img-section-form {
    padding: 1.7rem;
    font-family: var(--font2);
}

.url {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 1.3rem;
    font-size: 15px;
    font-weight: 600;
}

input[type=text] {
    height: 2.1rem;
    border-radius: 5px;
    padding: 9px;
}

.bg {
    display: flex;
    flex-direction: column;
}

.bg-title {
    font-size: 15px;
    font-weight: 600;
}

.bg-color-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;
}

.bg-color {
    background-color: var(--color1);
    height: 2.1rem;
    padding: 9px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

input[type=color]{
    width: 1.3rem;
    height: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}

input[type=color]::-webkit-color-swatch {
    border-radius: 50%;
    border-color: transparent;
    outline: none;
}

input[type=color]::-moz-color-swatch {
    border-radius: 50%;
    border-color: transparent;
    outline: none;
}

.bg-color-value {
    color: var(--color4);
    font-size: 12px;
    font-weight: 300;
    font-family: var(--font2);
    margin: 0 5px 0 5px;
}

.bg-blend-mode {
    background-color: var(--color1);
    height: 2.1rem;
    padding: 4px 9px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--color4);
    font-size: 13px;
    font-family: var(--font2);
    font-weight: 300;
}

.filter-container {
    display: flex;
    flex-direction: column;
}

.filter-title {
    margin: 1.3rem 0 1rem 0;
    font-size: 15px;
    font-weight: 600;
}

.filter-range-container {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-family: var(--font2);
    font-weight: 200;
}

input[type=range] {
    width: 100%;
    background-color: var(--color1);
    border-radius: 10px;
    appearance: none;
    outline: none;
    height: 8px;
    transition: 0.3s;
    margin: 10px 0 10px;
}

input[type=range]::-webkit-slider-thumb{  
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: var(--color4);
    cursor: grab;
    position: relative;
}

input[type=range]:hover {
    opacity: 1;
}

.reset-button{
    margin-top: 1.4rem;
    color: var(--color4);
    padding: 0.7em 1.7em;
    cursor: pointer;
    font-family: var(--font1);
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    border-radius: 0.5em;
    background: var(--color2);
    border: 1px solid var(--color2);
}

.reset-button:hover{ 
    cursor: pointer;
    background-color: var(--color4);
    color: var(--color1);
    border: 1px solid var(--color4);
    transition: all 0.2s ease-in-out;  
}

.txt-section {
    width: 20rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.7);
    color: var(--color1);
    overflow-y: auto;
    display: none;
}

.txt-section-form {
    padding: 1.7rem;
    font-family: var(--font2);
}

.top-txt-container, .bottom-txt-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 1.3rem;
}

.top-txt, .bottom-txt {
    font-size: 15px;
    font-weight: 600;
}

label[for="top-txt"] > input[type="text"] {
    margin-top: 8px;
    width: 100%;
    font-family: var(--font2);
    font-weight: 200;
    font-size: 12px;
}

label[for="bottom-txt"] > input[type="text"] {
    margin-top: 8px;
    width: 100%;
    font-family: var(--font2);
    font-weight: 200;
    font-size: 12px;
}

input[type="checkbox"] {
    accent-color: var(--color4);
    cursor: pointer;
}

.top-txt-check, .bottom-txt-check {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 100;
    font-size: 12px;
    gap: 7px;
}

.font {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 15px;
    font-weight: 600;
}

.font select {
    width: 100%;
    font-size: 12px;
    font-family: var(--font2);
    font-weight: 200;
    height: 2.1rem;
    border-radius: 5px;
    padding-left: 9px;
    cursor: pointer;
}

.font-txt-container {
    margin-top: 5px;
    width: 100%;
    display: inline-block;
}

label[for="font-size"] > input[type="number"] {
    font-size: 12px;
    font-family: var(--font2);
    font-weight: 200;
    height: 2.1rem;
    border-radius: 5px;
    padding-left: 14px;
    width: calc(50%);
}

.align-txt-container {
    margin-left: 20px;
}

.button-align {
    height: 2.1rem;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--color4);
}

.custom-txt-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.3rem;
}

.color-txt-container, .bg-txt-container {
    display: flex;
    flex-direction: column;
}

h4 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 9px;
}

label[for="color-txt"], label[for="bg-color-txt"] {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color1);
    height: 2.1rem;
    border-radius: 5px;
    padding: 9px;
} 

.color-txt-value, .bg-color-txt-value {
    color: var(--color4);
    font-size: 12px;
    font-weight: 300;
    font-family: var(--font2);
    margin: 0 5px 0 5px;
}

label[for="bg-transparent-check"] {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 100;
    font-size: 12px;
    margin-top: 7px;
    gap: 7px;
}

label[for="outline"], label[for="line-spacing"], label[for="padding"] {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 600;
    margin-top: 1.3rem;
}

.outline-txt-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;
}

.button-outline {
    background-color: var(--color1);
    height: 2.1rem;
    border-radius: 5px;
    padding: 9px;
    width: 30%;
    font-family: var(--font2);
    font-weight: 300;
    font-size: 12px;
    cursor: pointer;
}

label[for="padding"] > input[type="number"] {
    margin-top: 8px;
    font-family: var(--font2);
    color: var(--color4);
    font-size: 12px;
    font-weight: 300;
    height: 2.1rem;
    border-radius: 5px;
    padding: 9px;
}

label[for="line-spacing"] > select {
    margin-top: 8px;
    font-family: var(--font2);
    color: var(--color4);
    font-size: 12px;
    font-weight: 300;
    height: 2.1rem;
    border-radius: 5px;
    padding: 9px;
    cursor: pointer;
}


















@media (max-width: 500px){
    .dark-mode {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='340' height='680' preserveAspectRatio='none' viewBox='0 0 340 680'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2686%26quot%3b)' fill='none'%3e%3crect width='340' height='680' x='0' y='0' fill='rgba(33%2c 33%2c 33%2c 0.82)'%3e%3c/rect%3e%3crect width='228' height='228' clip-path='url(%26quot%3b%23SvgjsClipPath2687%26quot%3b)' x='5.62' y='441.09' fill='url(%26quot%3b%23SvgjsPattern2688%26quot%3b)' transform='rotate(187.96%2c 119.62%2c 555.09)'%3e%3c/rect%3e%3cpath d='M170.73 125.93L160.85 117.78 166.63 106.36 156.76 98.21 162.54 86.78 152.66 78.63 158.45 67.2M178.56 124.3L168.68 116.14 174.46 104.72 164.59 96.57 170.37 85.14 160.49 76.99 166.28 65.57M186.39 122.66L176.51 114.51 182.29 103.08 172.42 94.93 178.2 83.51 168.32 75.35 174.11 63.93' stroke='rgba(255%2c 255%2c 255%2c 0.86)' stroke-width='1.67'%3e%3c/path%3e%3crect width='95.8' height='95.8' clip-path='url(%26quot%3b%23SvgjsClipPath2689%26quot%3b)' x='173.85' y='511.94' fill='url(%26quot%3b%23SvgjsPattern2690%26quot%3b)' transform='rotate(221.7%2c 221.75%2c 559.84)'%3e%3c/rect%3e%3ccircle r='33.17506746168702' cx='317.94' cy='500.24' stroke='rgba(255%2c 255%2c 255%2c 0.86)' stroke-width='1.72' stroke-dasharray='3%2c 3'%3e%3c/circle%3e%3cpath d='M150.79 31.83L144.52 20.66 154.04 12.1 147.77 0.93 157.29-7.63 151.03-18.8 160.55-27.37' stroke='rgba(0%2c 0%2c 0%2c 0.78)' stroke-width='2.05'%3e%3c/path%3e%3ccircle r='28.333333333333332' cx='308.12' cy='498.22' fill='rgba(255%2c 255%2c 255%2c 0.86)'%3e%3c/circle%3e%3crect width='122.4' height='122.4' clip-path='url(%26quot%3b%23SvgjsClipPath2691%26quot%3b)' x='267.18' y='66' fill='url(%26quot%3b%23SvgjsPattern2692%26quot%3b)' transform='rotate(106.25%2c 328.38%2c 127.2)'%3e%3c/rect%3e%3ccircle r='28.333333333333332' cx='258.85' cy='153.73' fill='rgba(255%2c 255%2c 255%2c 0.87)'%3e%3c/circle%3e%3crect width='105' height='105' clip-path='url(%26quot%3b%23SvgjsClipPath2693%26quot%3b)' x='-10.69' y='510.8' fill='url(%26quot%3b%23SvgjsPattern2694%26quot%3b)' transform='rotate(292.86%2c 41.81%2c 563.3)'%3e%3c/rect%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2686'%3e%3crect width='340' height='680' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern2688'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(255%2c 255%2c 255%2c 0.87)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath2687'%3e%3ccircle r='57' cx='119.62' cy='555.09'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='9.58' height='9.58' patternUnits='userSpaceOnUse' id='SvgjsPattern2690'%3e%3cpath d='M4.79 1L4.79 8.58M1 4.79L8.58 4.79' stroke='rgba(255%2c 255%2c 255%2c 0.86)' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath2689'%3e%3ccircle r='23.95' cx='221.75' cy='559.84'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='12.24' height='12.24' patternUnits='userSpaceOnUse' id='SvgjsPattern2692'%3e%3cpath d='M6.12 1L6.12 11.24M1 6.12L11.24 6.12' stroke='rgba(255%2c 255%2c 255%2c 0.86)' fill='none' stroke-width='3.82'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath2691'%3e%3ccircle r='30.6' cx='328.38' cy='127.2'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='105' height='10.5' patternUnits='userSpaceOnUse' id='SvgjsPattern2694'%3e%3crect width='105' height='5.25' x='0' y='0' fill='rgba(17%2c 17%2c 17%2c 0.75)'%3e%3c/rect%3e%3crect width='105' height='5.25' x='0' y='5.25' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath2693'%3e%3ccircle r='26.25' cx='41.81' cy='563.3'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
        transition: none;
    }
    body {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='340' height='560' preserveAspectRatio='none' viewBox='0 0 340 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='72' height='72' clip-path='url(%26quot%3b%23SvgjsClipPath1001%26quot%3b)' x='39.09' y='74.69' fill='url(%26quot%3b%23SvgjsPattern1002%26quot%3b)' transform='rotate(181.36%2c 75.09%2c 110.69)'%3e%3c/rect%3e%3cpath d='M101.83 418.7a5.6 5.6 0 1 0-9.89-5.25 5.6 5.6 0 1 0 9.89 5.25zM87.7 411.2a5.6 5.6 0 1 0-9.9-5.25 5.6 5.6 0 1 0 9.9 5.25zM73.56 403.7a5.6 5.6 0 1 0-9.89-5.24 5.6 5.6 0 1 0 9.89 5.24zM59.43 396.21a5.6 5.6 0 1 0-9.9-5.25 5.6 5.6 0 1 0 9.9 5.25zM137.6 419.56a5.6 5.6 0 1 0-9.9-5.25 5.6 5.6 0 1 0 9.9 5.25zM123.46 412.06a5.6 5.6 0 1 0-9.89-5.25 5.6 5.6 0 1 0 9.89 5.25zM109.33 404.56a5.6 5.6 0 1 0-9.9-5.24 5.6 5.6 0 1 0 9.9 5.24zM95.19 397.07a5.6 5.6 0 1 0-9.89-5.25 5.6 5.6 0 1 0 9.89 5.25zM173.37 420.41a5.6 5.6 0 1 0-9.9-5.24 5.6 5.6 0 1 0 9.9 5.24zM159.23 412.92a5.6 5.6 0 1 0-9.89-5.25 5.6 5.6 0 1 0 9.89 5.25zM145.1 405.42a5.6 5.6 0 1 0-9.9-5.25 5.6 5.6 0 1 0 9.9 5.25zM130.96 397.92a5.6 5.6 0 1 0-9.89-5.24 5.6 5.6 0 1 0 9.89 5.24z' stroke='rgba(0%2c 0%2c 0%2c 0.86)' stroke-width='1.19' stroke-dasharray='4%2c 4'%3e%3c/path%3e%3crect width='216' height='216' clip-path='url(%26quot%3b%23SvgjsClipPath1003%26quot%3b)' x='-39.45' y='-60.69' fill='url(%26quot%3b%23SvgjsPattern1004%26quot%3b)' transform='rotate(339.38%2c 68.55%2c 47.31)'%3e%3c/rect%3e%3crect width='228' height='228' clip-path='url(%26quot%3b%23SvgjsClipPath1005%26quot%3b)' x='190.42' y='141.29' fill='url(%26quot%3b%23SvgjsPattern1006%26quot%3b)' transform='rotate(359.62%2c 304.42%2c 255.29)'%3e%3c/rect%3e%3cpath d='M145.26 97.45a5.6 5.6 0 1 0-0.89 11.16 5.6 5.6 0 1 0 0.89-11.16zM143.99 113.4a5.6 5.6 0 1 0-0.88 11.16 5.6 5.6 0 1 0 0.88-11.16zM142.73 129.35a5.6 5.6 0 1 0-0.89 11.16 5.6 5.6 0 1 0 0.89-11.16zM141.46 145.29a5.6 5.6 0 1 0-0.88 11.17 5.6 5.6 0 1 0 0.88-11.17z' fill='rgba(0%2c 0%2c 0%2c 0.86)'%3e%3c/path%3e%3ccircle r='28.333333333333332' cx='262.19' cy='411.44' fill='rgba(0%2c 0%2c 0%2c 0.86)'%3e%3c/circle%3e%3crect width='106.2' height='106.2' clip-path='url(%26quot%3b%23SvgjsClipPath1007%26quot%3b)' x='-31.93' y='182.82' fill='url(%26quot%3b%23SvgjsPattern1008%26quot%3b)' transform='rotate(311.25%2c 21.17%2c 235.92)'%3e%3c/rect%3e%3crect width='97.6' height='97.6' clip-path='url(%26quot%3b%23SvgjsClipPath1009%26quot%3b)' x='6.55' y='479.57' fill='url(%26quot%3b%23SvgjsPattern1010%26quot%3b)' transform='rotate(330.87%2c 55.35%2c 528.37)'%3e%3c/rect%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='340' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1002'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(0%2c 0%2c 0%2c 0.78)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1001'%3e%3ccircle r='18' cx='75.09' cy='110.69'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1004'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(0%2c 0%2c 0%2c 0.72)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1003'%3e%3ccircle r='54' cx='68.55' cy='47.31'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1006'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(0%2c 0%2c 0%2c 0.86)' fill='none' stroke-width='1.7'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1005'%3e%3ccircle r='57' cx='304.42' cy='255.29'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='10.62' height='10.62' patternUnits='userSpaceOnUse' id='SvgjsPattern1008'%3e%3cpath d='M5.31 1L5.31 9.62M1 5.31L9.62 5.31' stroke='rgba(0%2c 0%2c 0%2c 0.86)' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1007'%3e%3ccircle r='26.55' cx='21.17' cy='235.92'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='9.76' height='9.76' patternUnits='userSpaceOnUse' id='SvgjsPattern1010'%3e%3cpath d='M0 9.76L4.88 0L9.76 9.76' stroke='rgba(43%2c 43%2c 43%2c 0.67)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1009'%3e%3ccircle r='24.4' cx='55.35' cy='528.37'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
        transition: none;
    }

    header {
        background-color: rgba(33, 33, 33, 0.7);
        }

    .title-meme-generator {
        font-size: 1.7rem;
        font-weight: 600;
    }

    .nav-list {
        font-size: 14px;
    }

    .close-button {
        display: block;
        padding: 9px;
        color: var(--color1);
        width: 3rem;
        height: 3rem;
        background-color: var(--color4);
        position: absolute;
        top: 11px;
        right: 1rem;
    }
}
